*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h3{
    font-size: 18px;
    color: #dc143c;
}

p{
    font-size: 16px;
}

.btn-red{
    border: none;
    background-color: #dc143c;
    color: #fff;

    width: 234px;
    text-align: center;
}

.btn-red:hover{
    background-color: #fff;
    color: #dc143c !important;
    border: 1px solid #dc143c;
    transition: O.5s;
}

.btn-red p{
    padding: 0px 12px;
}

/* Construction du Header */

header{
    background-color: #8fb900;
    display: flex;
    justify-content: center;
    color: #fff;
}

.btn{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    border: 2px solid #fff;
    border-radius: 4px;
    display: block;
}

.btn:hover{
    background-color: #fff;
    color: #8fb900;
    transition: 0.5s;
}

header h1{
    font-size: 22px;
}

header div{
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

/* Construction du hero */

section{
    width: 1160px;
    margin: 80px auto 0 auto;
}

.main-image{
    position: relative;
}

.main-image div{
    background-color: rgba(185, 0, 50,0.4);
    height: 55px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
}

.main-image p{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0px 17px;
}

/* Construction des cartes */

.container-items{
    display: flex;
    justify-content: space-between;
}

.items{
    margin-top: 80px;
}

.item{
    width: 280px;
    border: 1px solid #dc143c;
    border-radius: 4px;
    margin-top: 25px;
}

.item-description{
    padding: 10px;
}

